.dropdown_container {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.dropdown {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  appearance: none;
  cursor: pointer;
  position: relative;
}


.dropdown option:first-child {
  color: #888;
}

.dropdown:hover,
.dropdown:focus {
  border-color: #007bff;
  outline: none;
}

.dropdown::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666;
  /* Arrow color */
}

.dropdown_options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #FF1493;
  border-radius: 4px;
  background-color: #fff;
  display: none;
  z-index: 10;
}

.dropdown_options div {
  padding: 10px;
  cursor: pointer;
}

.dropdown_options div:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown_options {
  display: block;
}

.home_container {
  margin-top: 100px;
}

.search_box_content {
  gap: 20px;
}

.search_box_content input {
  border: none;
  outline: none;
}

.search_box_content input:focus,
.search_box_content input:hover {
  border: none;
}

.job_search,
.job_location {
  border: 1px solid #1E90FF;
  padding: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.job_search input,
.job_location input {
  font-size: 15px;
  padding: 0 14px;
  background-color: transparent;
}

.job_search input {
  width: 220px;
}

.job_location input {
  width: 130px;
}

.job_search_btn button {
  padding: 11px;
  background-color: #1E90FF;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 85px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.job_search_btn button:hover {
  background-color: #1561d3;
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
  width: 400px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card:hover {
  border: 1px solid #1E90FF;
}

.card.active {
  border-color: #1E90FF;
}

.card:hover .cards_text h2 {
  text-decoration: underline;
}

.cards_text span {
  padding-bottom: 10px;
}

.cards_info {
  gap: 10px;
}

.cards_info p {
  background-color: #f3f2f1;
  font-size: 12px;
  color: #000;
  padding: 4px;
  border-radius: 3px;
}

.card_des {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date_post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 0;
  color: rgb(66, 66, 197);
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

.job_description {
  white-space: pre-wrap;
}

.web_icon i {
  color: #087ef5;
}

.web_icon i:hover {
  color: #000;
}

.apply_button button {
  cursor: pointer;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1E90FF;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.apply_button button:hover {
  background-color: #0754a1fd;
}

.card_title_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_title_head i {
  font-size: 20px;
  cursor: pointer;
  padding-top: 6px;
}

.job_description_details {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 400px;
  overflow: auto;
}

.report_icon {
  margin: 10px 0;
  background-color: #ddd;
  padding: 9px 10px;
  width: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  font-size: bold;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.report_icon:hover {
  background-color: #e4e4e4;
}

.cards_content {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  min-height: 100vh;
}

.cards {
  width: 30%;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.job_details {
  width: 40%;
  text-align: left;
  padding: 0 20px;
  border: 1px solid #1E90FF;
  background-color: #fff;
  border-radius: 5px;
  position: sticky;
  top: 65px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
}

.search_box_content,
.cards_info,
.cards {
  display: flex;
  align-items: center;
}

.cards,
.search_box_content {
  justify-content: center;
}

.cards_info {
  justify-content: left;
}

.company_location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #ddd;
  color: #007bff;
}

.pagination li.active {
  background-color: #007bff;
  color: white;
}

.pagination li.disabled {
  color: #ddd;
  cursor: not-allowed;
}

.job_search {
  display: flex;
  align-items: center;
}

.close_button {
  position: absolute;
  right: 20px;
  background-color: #b1b1b1;
  font-size: 13px;
  display: none;
}

@media (max-width: 768px) {
  .dropdown_container {
    /* flex-direction: column;
     */
    gap: 10px;
  }

  .dropdown {
    width: 40%;
    font-size: 14px;
  }

  .cards_content {
    flex-direction: column;
    align-items: center;
  }

  .cards {
    width: 90%;
    margin-bottom: 20px;
  }

  .job_details {
    width: 90%;
    position: fixed;
    top: 100px;
    margin: auto;
    box-shadow: none;
    z-index: 9999;
  }

  .search_box_content {
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
  }

  .job_search input,
  .job_location input {
    width: 100%;
  }

  .job_search_btn button {
    width: 100%;
  }

  .close_button {
    display: block;
  }




}

@media (max-width: 480px) {
  .dropdown {
    font-size: 12px;
    padding: 8px;
  }

  .job_search input,
  .job_location input {
    font-size: 14px;
    padding: 8px;
  }

  .job_search_btn button {
    font-size: 14px;
    padding: 16px;
  }

  .cards {
    width: 100%;
  }

  .job_details {
    width: 100%;
    padding: 10px;
  }

  .close_button {
    display: block;
  }
}