.monthly_graph {
  margin: 20px auto;
  background-color: #fff;
  padding: 5px;
  border-radius: 6px;
  height: 300px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
