.navbar_container {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}

.logo img {
    width: 60px;
    height: 60px;
}

.nav_bar {
    padding: 0 20px;
}

.nav_bar .logo {
    gap: 20px;
}

.Link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.br_btn {
    position: relative;
    padding: 19px 0;
    text-decoration: none; 
    color: inherit; 
}

.br_btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #1E90FF;
    transition: width 0.3s ease;
}

.br_btn:hover::before {
    width: 100%;
}
.br_btn:hover{
    padding: 19px 0;
}

/* flex css */
.nav_bar,
.nav_bar .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.user_profile{
    border: 1px solid red;
    padding: 4px 9px;
    font-weight: bold;
    border-radius: 50%;
}

/* 

#1E90FF---blue
#800080 --- purple
#FF1493 -- pink

*/