.navbar_container {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}

.logo img {
    width: 60px;
    height: 60px;
}

.nav_bar {
    padding: 0 20px;
}

.nav_bar .logo {
    gap: 20px;
}

.Link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.br_btn {
    position: relative;
    padding: 19px 0;
    text-decoration: none;
    color: inherit;
}

.br_btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #1E90FF;
    transition: width 0.3s ease;
}

.br_btn:hover::before {
    width: 100%;
}

.br_btn:hover {
    padding: 19px 0;
}

/* flex css */
.nav_bar,
.nav_bar .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.user_profile .profile_icon {
    border: 1px solid red;
    padding: 0px 8px;
    font-weight: bold;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 31px;
    width: 15px;
}
.user_profile {
    position: relative;
    cursor: pointer;
}

.profile_icon {
    display: inline-block;
    border-radius: 50%;
    width: 22px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.dropdown_menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 125px;
    text-align: center;
}

.dropdown_item {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #000;
}


.dropdown_item:hover {
    color: #1E90FF;
}
.dropdown_menu {
    position: absolute;
    background: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .nav_links ul li{
    list-style: none;
  }

/* 

#1E90FF---blue
#800080 --- purple
#FF1493 -- pink

*/